<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">    
    <!-- CHANGE CSS FILE LOCATION -->

    <title> Show Books </title>
</head>

<body>

    <h1>
        TV Show {{show_info.id}}
    </h1>

    <p>Title: {{show_info.title}}</p>
    <p>Network: {{show_info.network}} </p>
    <p>Release Date: {{show_info.release}} </p>
    <p>Description: {{show_info.desc}} </p>

    <p>Last Updated: {{show_info.updated_at}} </p>
    <form action="/delete" method="POST">
        {% csrf_token %}
        <button>Edit</button>|<button type="submit" name='which_show'           value={{show_info.id}}>delete</button>
    </form>
</body>

</html>